<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">

	<sql id="selectBoard">
		select
				btb.board_no
				<if test='searchOrder != null and searchOrder != ""'>
					<choose>
						<when test='searchOrder == "order1"'>
							, row_number() over(order by btb.reg_dt desc) as row_num
						</when>
						<otherwise>
							, row_number() over(order by btb.view_cnt desc) as row_num
						</otherwise>
					</choose>
				</if>
				, btb.category_cd
				, (select btcc.comm_cd_nm from bt_tb_comm_code btcc where btcc.comm_cd = btb.category_cd and btcc.grp_cd = 'CTG') as category_nm
				, btb.title
				, btb.cont
				, btb.writer_nm
				, btb.password
				, btb.view_cnt
				, DATE_FORMAT(btb.reg_dt, '%Y-%m-%d %T') as reg_dt
				, DATE_FORMAT(btb.mod_dt, '%Y-%m-%d %T') as mod_dt
				, case when datediff(now(), btb.reg_dt) <![CDATA[ <= ]]> 5 then 'Y'
				  else 'N' end new_yn
				, case when (
						select	count(*)
						from	bt_tb_file
						where	ref_tbl = 'bt_tb_board'
						and		ref_pk = btb.board_no
					) <![CDATA[ > ]]> 0 then 'Y'
				  else 'N' end file_yn
		from bt_tb_board btb
		where 1 = 1
		<if test='searchText != null and searchText != ""'>
			<if test='searchKeyword != null and searchKeyword != ""'>
				<choose>
					<when test='searchKeyword == "title"'>
						and title like concat('%', #{searchText}, '%')
					</when>
					<when test='searchKeyword == "cont"'>
						and cont like concat('%', #{searchText}, '%')
					</when>
					<otherwise>
						and (
							title like concat('%', #{searchText}, '%')
							or
							cont like concat('%', #{searchText}, '%')
							)
					</otherwise>
				</choose>
			</if>
		</if>
		<if test='categoryCd != null and categoryCd != ""'>
			and category_cd = #{categoryCd}
		</if>
	</sql>

	<select id="selectBoardListCount" parameterType="com.example.demo.model.BoardReq" resultType="int">
		/* selectBoardListCount */
		select count(*) as cnt
		from (
			<include refid="selectBoard" />
		) a
	</select>

	<select id="selectBoardList" parameterType="com.example.demo.model.BoardReq" resultType="com.example.demo.model.BoardRes">
		/* selectBoardList */
		<include refid="selectBoard" />
		LIMIT #{startRow}, #{endRow};
	</select>

	<select id="selectBoardDetail" parameterType="com.example.demo.model.BoardReq" resultType="com.example.demo.model.BoardRes">
		/* selectBoardDetail */
		select
				  btb.board_no
				, btb.category_cd
				, (select btcc.comm_cd_nm from bt_tb_comm_code btcc where btcc.comm_cd = btb.category_cd and btcc.grp_cd = 'CTG') as category_nm
				, btb.title
				, btb.cont
				, btb.writer_nm
				, btb.password
				, btb.view_cnt
				, DATE_FORMAT(btb.reg_dt, '%Y-%m-%d %T') as reg_dt
				, DATE_FORMAT(btb.mod_dt, '%Y-%m-%d %T') as mod_dt
		from bt_tb_board btb
		where btb.board_no = #{boardNo}
	</select>

	<insert id="insertBoard" parameterType="com.example.demo.model.BoardReq" useGeneratedKeys="true" keyProperty="boardNo">
		/* insertBoard */
		insert into bt_tb_board
			(
				  category_cd
				, title
				, cont
				, writer_nm
				, password
				, view_cnt
				, reg_dt
				, mod_dt
			)
		values
			(
				  #{categoryCd}
				, #{title}
				, #{cont}
				, #{writerNm}
				, #{password}
				, 0
				, now()
				, now()
			)
	</insert>

	<update id="updateBoard" parameterType="com.example.demo.model.BoardReq">
		/* updateBoard */
		update bt_tb_board
		set	category_cd	= #{categoryCd}
			, title		= #{title}
			, cont		= #{cont}
			, writer_nm	= #{writerNm}
			, password	= #{password}
			, mod_dt	= now()
		where board_no	= #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="com.example.demo.model.BoardReq">
		/* deleteBoard */
		delete
		from bt_tb_board
		where board_no = #{boardNo}
	</delete>

	<update id="updateBoardViewCnt" parameterType="com.example.demo.model.BoardReq">
		/* updateBoardViewCnt */
		update bt_tb_board
		set	  view_cnt = (select view_cnt from bt_tb_board where board_no = #{boardNo}) + 1
			, mod_dt = now()
		where board_no = #{boardNo}
	</update>

</mapper>

